* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Montserrat", sans-serif; */
}
html, body {
  font-family: "Montserrat", sans-serif;
}
/* .container {
  max-width: 1024px;
  padding: 0 20px;
  margin: 0 auto;
} */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
